@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
}body {
    overflow-x: hidden;
}
/*--------------------banner image-----------------------------------------*/
.header{
    min-height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0.8)),url(banner\ image.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
/*--------------------Navigation bar-----------------------------------------*/
nav{
    display:flex;
    padding: 1% 8%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 200px;

}
.nav-links{
    flex:1;
    text-align:right;
}
.nav-links ul li{
    list-style: none;
    display:inline-block;
    padding: 8px 35px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
  text-decoration: none;
  font-size: 15px;  
}
.nav-links ul li::after{
    content: '';
    width:  0%;
    height: 2px;
    background: #0c86be;
    display:block;
    margin: auto;
}
.nav-links ul li:hover::after{
    width:100%;
}
.dropdown {
    position: relative;
    display: inline-block; }

.dropdown-content {
    display: none;
    position: absolute;
   
    background-color: #0d003a;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Add styles for the sub-dropdown */
.sub-dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #0d003a;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.sub-dropdown:hover .sub-dropdown-content {
    display: block;
}

/* Adjust text color and style */
.dropdown-content a,
.sub-dropdown-content a {
    color: #333; /* Adjust the text color */
    text-decoration: none;
    padding: 10px;
    display: block;
    padding-top: 20px;
    padding-bottom: 14px;
    margin-top: 15px;
    top: 100%;
    white-space: nowrap;
    text-align: left;
}

/* Hover styles for links */
.dropdown-content a:hover,
.sub-dropdown-content a:hover {
    background-color: #ddd; /* Adjust the background color on hover */
    color: #0d003a;
}
/*-----------------------------banner text----------------------*/
.text-box{
    width: 90%;
    color:#fff;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 50px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color:#fff;
}
.hero-btn{
    display:inline-block;
    text-decoration: none;
    color: #fff;
    border:1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor:pointer;
}
.hero-btn:hover{
    border:1px solid #ffffff; 
    background-color: #ffffff;
    transition: 1s; color:#0d003a; 
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 30px;  
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #0d003acb;
        height: 100vh;
        width: 200px;
        top:0;
        right:0;
        text-align:left;
        z-index:2;
    }
    .dropdown-content {
        width: 50%; /* Make dropdown full width */
    }

    .sub-dropdown-content {
        width: 50%; /* Make sub-dropdown full width */
    }
}
/*------------------------------------------------------------ABOUT SECTION-----------------------------------------------------------------*/
.about-section {
    padding: 50px; padding-bottom: 20px; 
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    
    margin: 20px;
    max-width: 1130px;  
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;  
    align-items: center;
    text-align: center;  
}

.about-section h1 {
    color: #0c86be; 
    width: 100%;  
    max-width: 550px; 
    margin-bottom: 20px;  
}

.about-section p {
    color: #000000;
    font-size: 18px;
    line-height: 1.5;
    max-width: 800px;  
}
@media (max-width: 700px) {
    .about-section {
        padding: 30px;
    }

    .about-section h1 {
        font-size: 20px;
        max-width: 100%;
        margin-bottom: 15px;
    }

    .about-section p {
        font-size: 12px;
        max-width: 100%;
    }
} 
 
    .industries{
        display: flex; padding-top: 60px;
        flex-direction: column; background-color:rgb(3, 0, 32);
        align-items: center; padding-bottom: 70px;
       }
       .industries h1{color: #fff; font-size: 2.5rem;}
       .industries h2{color: #fff; font-size: 1.3rem;}
       .industries p{
        width: 60%;
       }
       .industries-icon{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        padding-top: 20px;
       }
       
      
       
       
      .industries p{
        color: #f2f2f2;
      }
       
       
      /*------------------------------footer-------------------------------------------------------*/
      footer{
        background-color: #000000ff;
        position: relative;
        width: 100%;
        min-height: 350px;
        padding: 3rem 1rem;
   }
   .contain  {
       max-width: 1140px;
       margin: 0 auto;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
   
   
   }
   .row{
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   
   .col{
       min-width: 250px;
       color:#f2f2f2f2;
       font-family: poppins;
       padding:0 2rem;
   }
   .col .logo{
       width: 100px;
       margin-bottom:25px;
   }
   .col h3{
       color:#00BAD5 ;
       margin-bottom: 20px;
       position: relative;
       cursor: pointer;
   }
   .col h3::after{
       content: '';
       height:3px;
       width:0px;
       background-color:  #00BAD5;
       position: absolute;
       bottom: 0;
       left:0;
       transition: 0.3s ease;
   
   }
   .col h3:hover::after{
       width:30px
   }
   .col .social a i{
       color: #00BAD5;
       margin-top:2rem;
       margin-right: 5px;
       transition: 0.3s ease;
   }
   .col .social a i:hover{
       transform: scale(1.5);
       filter:grayscale(25);
   }
   .col .links a{
       display: block;
       text-decoration: none;
       color:#f2f2f2;
       margin-bottom: 5px;
       position: relative;
       transition: 0.3s ease;
   }
   .col .links a::before{
       content:'';
       height: 16px;
       width:3px;
       position: absolute;
       top:5px;
       left:-10px;
       background-color: #00BAD5;
       transition: 0.5s ease;
       opacity: 0;
   }
   .col .links a:hover::before{
       opacity: 1;
   }
   .col .links a:hover{
       transform: translateX(-8px);
       color:  #00BAD5;
   }
   .col .contact-details{
       display: inline-flex;
       justify-content: space-between;
   }
   .col .contact-details i{
       margin-right:15px;
   }
   .row .form{
       display: flex;
       justify-content: center;
       align-items: center;
       padding:2rem 0;
   }
   .row .form input{
       background-color: #1a1c20ff;
       border:0;
       outline:none;
       padding:14px 20px;
       border-radius: 6px;
       border-top-right-radius: 0;
       border-bottom-right-radius: 0;
   }
   .form button{
       padding:14px 20px;
       border:0;
       border-radius: 6px;
       border-top-left-radius: 0;
       border-bottom-left-radius: 0;
       background-color:   #00BAD5;
   }
   
   /********** Responsive Design ********/
   @media(max-width:900px)
   {
     .row{
       flex-direction: column;
     }
     .col{
       width: 100%;
       text-align: left;
       margin-bottom: 25px;
     }
   }
   @media(max-width:768px)
   {
     .row{
       flex-direction: column;
     }
     .col{
       width: 100%;
       text-align: left;
       margin-bottom: 20px;
     }
   }
   .Strength{
    width: 100%;
    background-color: rgb(253, 253, 253);
}
   .Empower-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px; /* Adjust as needed */
}
 .Empower-text h2{
    padding-top: 100px;
    font-size: 2rem; color: #0c86be;
 }
 .Empower-text p{
    font-size: 1rem; width: 85%; padding-top: 30px;
 }
 .main-image00 {
    width: 500px;
    height: 400px;
    background: url('rocket.png') center/cover; 
}
.main-image01 {
    width: 320px;
    height: 200px;
    background: url('odoo.png') center/cover; 
}
.hero-btn1 {
    background-color: #fff; /* White background */
    color: #0d003a; /* Dark text color */
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #0d003a; /* Dark border */
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for smooth hover effect */
}

.hero-btn1:hover {
    background-color: #0d003a; /* Dark background on hover */
    color: #fff; /* White text color on hover */
}